<!DOCTYPE html>
<html>
<head>
    <title>Gimbal Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h1 class="text-center">Gimbal Control</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-6 offset-sm-3">
                <div id="slider"></div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="text-center">Current angle: <span id="angle">0</span> degrees</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 offset-sm-4">
                <button id="submit-btn" class="btn btn-block btn-primary">Set Angle</button>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12">
                <h1 class="text-center">Shooter Control</h1>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-6 offset-sm-3">
                <div id="shooter-slider"></div>
            </div>
        </div>

<!--        <div class="row mt-4">-->
<!--            <div class="col-sm-4 offset-sm-4">-->
<!--                <button id="submitSpeed-btn" class="btn btn-block btn-primary">Set Speed</button>-->
<!--            </div>-->
<!--        </div>-->


        <div class="row mt-4">
            <div class="col-12">
                <p class="text-center">Current shooter speed: <span id="speed">0</span></p>
        </div>
        </div>


<!--        <div class="row mt-4">-->
<!--            <div class="col-12">-->
<!--                <h1 class="text-center">Feeder Control</h1>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row mt-4">
            <div class="col-sm-4 offset-sm-4">
                <button id="feeder-btn" class="btn btn-block btn-success">Feed</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4 offset-sm-4">
                <button id="learn-btn" class="btn btn-block btn-success">Learn</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4 offset-sm-4">
                <button id="autoTrack-btn" class="btn btn-block btn-success">Track</button>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-sm-4 offset-sm-4">
                <button id="voice-btn" class="btn btn-block btn-success">Voice</button>
            </div>
        </div>




    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $( "#slider" ).slider({
                orientation: "horizontal",
                range: "min",
                min: -90,
                max: 90,
                value: 0,
                slide: function( event, ui ) {
                    $( "#angle" ).html(ui.value);
                }
            });

            $('#submit-btn').click(function() {
                var angle = $('#angle').text();
                $.ajax({
                    url: '/set_angle',
                    type: 'POST',
                    data: {angle: angle},
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            // $('#shooter-btn').click(function() {
            //     var action = $(this).text() === 'Shoot' ? 'start' : 'stop';
            //     $.ajax({
            //         url: '/shoot',
            //         type: 'POST',
            //         data: {action: action},
            //         success: function(response) {
            //             if (action == 'start') {
            //                 $('#shooter-btn').removeClass('btn-success').addClass('btn-danger').text('Stop Shooting');
            //
            //                 console.log(response)
            //             } else {
            //                 $('#shooter-btn').removeClass('btn-danger').addClass('btn-success').text('Shoot');
            //                 console.log(response)
            //             }
            //         },
            //         error: function(error) {
            //             console.log(error);
            //         }
            //     });
            // });

             $( "#shooter-slider" ).slider({
                orientation: "horizontal",
                range: "min",
                min: 0,
                max: 47,
                value: 13,
                slide: function( event, ui ) {
                    $( "#speed" ).html(ui.value);
                }
            });

             $('#shooter-slider').on('slidechange', function(event, ui) {
                var speed = ui.value;
                $.ajax({
                    url: '/set_speed',
                    type: 'POST',
                    data: {speed: speed},
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });


            // $('#submitSpeed-btn').click(function() {
            //     var speed = $('#speed').int();
            //     $.ajax({
            //         url: '/set_speed',
            //         type: 'POST',
            //         data: {speed: speed},
            //         success: function(response) {
            //             alert(response);
            //         },
            //         error: function(error) {
            //             console.log(error);
            //         }
            //     });
            // });



            $('#feeder-btn').click(function() {
                var action = $(this).text() === 'Feed' ? 'start' : 'stop';
                $.ajax({
                    url: '/feed',
                    type: 'POST',
                    data: {action: action},
                    success: function(response) {
                        if (action == 'start') {
                            $('#feeder-btn').removeClass('btn-success').addClass('btn-danger').text('Stop Feeder');
                            console.log(response)
                        } else {
                            $('#feeder-btn').removeClass('btn-danger').addClass('btn-success').text('Feed');
                            console.log(response)
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            $('#learn-btn').click(function() {
                var action = $(this).text() === 'Learn' ? 'start' : 'stop';
                $.ajax({
                    url: '/learn',
                    type: 'POST',
                    data: {action: action},
                    timeout: 5000,
                    success: function(response) {
                        if (action == 'start') {
                            $('#learn-btn').removeClass('btn-success').addClass('btn-danger').text('Stop Learn');
                            console.log(response)
                        } else {
                            $('#learn-btn').removeClass('btn-danger').addClass('btn-success').text('Learn');
                            console.log(response)
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
            $('#autoTrack-btn').click(function() {
                var action = $(this).text() === 'Track' ? 'start' : 'stop';
                $.ajax({
                    url: '/track',
                    type: 'POST',
                    data: {action: action},
                    timeout: 5000,
                    success: function(response) {
                        if (action == 'start') {
                            $('#autoTrack-btn').removeClass('btn-success').addClass('btn-danger').text('Stop Tracking');
                            console.log(response)
                        } else {
                            $('#autoTrack-btn').removeClass('btn-danger').addClass('btn-success').text('Track');
                            console.log(response)
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });



            $('#voice-btn').click(function() {
                var action = $(this).text() === 'Voice' ? 'start' : 'stop';
                $.ajax({
                    url: '/voice',
                    type: 'POST',
                    data: {action: action},
                    timeout: 5000,
                    success: function(response) {
                        if (action == 'start') {
                            $('#voice-btn').removeClass('btn-success').addClass('btn-danger').text('Deactivate Voice');
                            console.log(response)
                        } else {
                            $('#voice-btn').removeClass('btn-danger').addClass('btn-success').text('Voice');
                            console.log(response)
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

        });

        // const dutyCycleSlider = document.getElementById("shooter-slider");
        // const dutyCycleValue = document.getElementById("duty-cycle-value");
        //
        // function updateDutyCycleValue() {
        //     dutyCycleValue.textContent = `${dutyCycleSlider.value}%`;
        // }
        //
        // function sendDutyCycleValue() {
        //     const dutyCycle = dutyCycleSlider.value;
        //     fetch("/set_speed", {
        //         method: "POST",
        //         body: new URLSearchParams({
        //             "duty_cycle": dutyCycle,
        //         }),
        //     });
        // }
        //
        // updateDutyCycleValue();
        //
        // dutyCycleSlider.addEventListener("input", () => {
        //     updateDutyCycleValue();
        //     sendDutyCycleValue();
        // });
    </script>
</body>
</html>
